<?xml version="1.0"?>
<appSettings>
  <add key="WKCApi" value="https://walletapi.onethingpcs.com/"/>
  <add key="ChangCommission" value="5"/>
  <add key="DTCommission" value="0.3"/>
  <add key="StoreCommission" value="0.3"/>
  <add key="TaxRate" value="2"/>
  <!--充值钱包-->
  <add key="CZ_WKCAddress" value=""/>
  <!--验证有的钱包-->
  <add key="VerityWKCAddress" value=""/>
  <add key="webpages:Version" value="2.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="SMSsign" value="链克社区"/>
  <add key="SMSServiceUrl" value="http://web.cr6868.com/asmx/smsservice.aspx"/>

</appSettings>